.App {
    height: 100vh;
    width: 100vw;
    background-color: #464a4e;
}
.App-home {
    height: 100vh;
    width: 100vw;
    background-color: #2e3133;
}
.App-home-2 {
    background-color: #868e96;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 45px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.File-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: File-loader-spin 2s linear infinite; /* Safari */
    animation: File-loader-spin 2s linear infinite;
}

.font-common {
    font-family: Verdana, Geneva, sans-serif;
    font-size: small;
}

/* Safari */
@-webkit-keyframes File-loader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes File-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.edit-icon:hover {
    color: darkorange;
}

.bg-change-on-hover:hover {
    background-color: lightgray;
}
