.App {
    height: 100vh;
    width: 100vw;
    background-color: #464a4e;
}
.App-home {
    height: 100vh;
    width: 100vw;
    background-color: #2e3133;
}
.App-home-2 {
    background-color: #868e96;
}
.App-home-bg {
    height: 80vh;
    width: 80vw;
    background-image: url('./brazil_map.png');
    background-size: cover;
    overflow: hidden;
    opacity: 0.9;
    margin-left: 5vw;
}
.App-home-logo {
    height: 10%;
    width: 10%;
    background-image: url('logo.jpg');
    background-size: cover;
    overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 45px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.File-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 15px;
    height: 15px;
    -webkit-animation: File-loader-spin 2s linear infinite; /* Safari */
    animation: File-loader-spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes File-loader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes File-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
